$font_size_main: 16px;
$font_color_main: #ffffff;
$font_color_title: #000;
$font_color_grey: #7B7B7B;
$bg_main: linear-gradient(#72eb85, #4a8753);


$width_content: 1170px;
$adaptive_width_content: calc($width_content / 2);